$primary: #6234E0;
$conditions: #F6F5F5;
$darkText: #707070;
$lightText: #FFFFFF;

$red: #E74C3C;
$orange: #E67E22;
$purple: #9B59B6;
$cyan: #3498DB;
$greenRuby: #1ABC9C;

$members: #34495E;
$fromMessage: #24B19E;
$toMessage: #34495E;

$high: #DD6060;
$medium: #F5B026;
$low: #26D3F5;