// Border
$borderWidth: 1px;
$borderType: solid;

// Buttons
$buttonBorderRadius: 7px;
$buttonPadding: 0.5em 1.5em;

// Report Card
$reportRadius: 10px;
$reportShadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

// User
$userMargin: 0 1em;
$userPadding: 0.5em 0.25em;

// Avatar
$avatarRadius: 100%;